<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Контактные данные</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Почта</dt>
            <dd>bekowsky32@gmail.com</dd>

            <dt>Вк</dt>
            <dd>bekowsky</dd>

            <dt>Телефон</dt>
            <dd>+7123123123</dd>
        </dl>
    </div>
</div>

